# Archivo de ejemplo para configuración de base de datos local
# Copia este archivo como '.env' en la raíz del proyecto y ajusta los valores si es necesario.

PGHOST=localhost
PGPORT=5432
PGDATABASE=bd-usuarios
PGUSER=postgres
PGPASSWORD=12345
